*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.grid, .grid-2, .grid-3{
    height: 30vh;
    width: 80vw;
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    gap: 10px;
    margin-bottom: 10px;
}
.grid div, .grid-2 div, .grid-3 div{
    background-color: rgb(133, 133, 45);
}

.grid{
    align-items: center;
}
.grid-2{
    justify-items: end;
}
.self{
    align-self: start;
}
.grid-3, .grid-2{
    grid-template: repeat(3,20%) / repeat(3,20%);
    justify-content: space-around;
    align-content: end;
}