/* Quita margenes y crea bordes tamaño caja */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; 
    
}
/* Truco para trabajar con rem = 10px */


/* 
COMO ORDENAR CSS
1.Posicionamiento
2.Box Model
3.Tipografía
4.Visuales
5.Miscellaneous
*/
