.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}
.main-nav__item{
    display: inline-block;
}
.main-nav__item a{
    color: bisque;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
}
.main-nav__item a:hover{
    color: blueviolet;
}
.main-nav__item a:active{
    color:black
}
.main-nav__item a::before{
    content: "//";
}
.main-nav__item::after{
    content:"//";
    color: bisque;
}