.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}
.c1 {
  background-color: red;
}
.c2 {
  background-color: royalblue;
  grid-column-start: 1;
  grid-column-end: 3;
}
.container2 {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: repeat(2, 100px);
  grid-template-areas:
    "a b"
    "c c";
}
.c3 {
  background-color: red;
}
.c4 {
  background-color: royalblue;
  grid-area: c;
}
