*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; 
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

/* 
1.Posicionamiento
2.Box Model
3.Tipografía
4.Visuales
5.Miscellaneous
*/
:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --p-grey: #808080;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 32rem;
    height: 29.5rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}
header img{
    height: 2.4rem;
    width: 15.1rem;
    margin-top: 4.2rem;
}
.header--title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
}
header h1{
    margin-top: 3.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--just-white);
    line-height: 2.6rem;
}
header p{
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--soft-orange);
    line-height: 1.8rem;
}
.header--button{
   position: absolute;
   left: calc(50% - 11.45rem);
   top: calc(100% - 2.4rem);
   text-decoration: none;
   color: var(--warm-black);
   line-height: 1.823rem;
   font-size: 1.4rem;
   font-weight: 700;
   display: block;
   padding: 1.5rem 1.6rem;
   width: 22.9rem;
   height: 4.8rem;
   background-color: var(--off-white);
   box-shadow: 0rem 4rem 11rem rgba(89, 73, 30, 0.36);
   border-radius: 0.4rem;
}
.header--button span{
    display: inline-block;
    width: 1.2rem;
    height: 0.741rem;
    margin-left: 1rem;
    background-image: url("./assets/icons/down-arrow.svg");
}
main{
    width: 100%;
    min-width: 32rem;
    height: auto;
    background-color: var(--just-white);
}
.backgroundImg{
    height: 19.5rem;
    width: 19.5rem;
    background-image: url("./assets/img/Bitcoin.svg");
    margin-top: 5.9rem;
    margin-bottom: 4rem;

}
/* Changes and commission */
.main--exchange-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--off-white);
    height: 47rem;
}
.main--commission{
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
}
.main--exchange-container--title{
    left: calc(50% - 1.6rem);
    min-width: 2.88rem;
    max-width: 90rem;
    margin: 0 auto;
}
.main--exchange-container--title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--warm-black);
}
.main--exchange-container--title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-top: 2.4rem;
    color: #757575;
    margin-bottom: 4.8rem;
}

.main--commission-title{
    color: var(--secondary-blue);
    font-size: 1.8rem;
    line-height: 2.344rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    text-align: center;
    margin-right: 7rem;
}
.main--commission-table{
    width: 55%;
    min-width: 19rem;
    max-width: 20rem;
    height: 16rem;
    display: flex;
    background-color: var(--just-white);
    border-radius: 0.8rem;
    margin: 0 auto;
}


.table--left{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.936rem;
    color: #B5B0AC;
    width: 10rem;
    height: 4rem;
}
.table--1-right, .table--2-right, .table--3-right, .table--4-right{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.694rem;
    color:#757575;
}
.table--1-right span{
    width: 1.1rem;
    height: 0.6rem;
    display: inline-block;
    margin-left: 1rem;
    background-image: url("./assets/icons/trending-down.svg");
    background-position: center; 
}
.table--2-right span{
    width: 1.1rem;
    height: 0.6rem;
    display: inline-block;
    margin-left: 1rem;
    background-position: center; 
    background-image: url("./assets/icons/trending-up.svg");
}
.table--3-right span{
    width: 1.1rem;
    height: 0.6rem;
    display: inline-block;
    margin-left: 1rem;
    background-position: center; 
    background-image: url("./assets/icons/trending-down.svg");
}
.table--4-right span{
    width: 1.1rem;
    height: 0.6rem;
    display: inline-block;
    margin-left: 1rem;
    background-position: center; 
    background-image: url("./assets/icons/trending-down.svg");
}
.main--time-upgrade{
    height: 3.1rem;
    width: 17.3rem;
    background-color: var(--soft-blue);
    margin: 2.4rem auto;
}
.main--time-upgrade p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: 'Inter', sans-serif;
    margin: 0.8rem 0.8rem;
    position: absolute;
}
/* Beneficios */
.main--benefits{
    width: 100%;
    height: 92rem;
    background-color: var(--warm-black);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.main--logo-batata{
    width: 4.2rem;
    height: 2.4rem;
    background-image: url(./assets/icons/batata.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 2.1rem);
    top: calc(0% - 1.2rem);
}
.main--benefits h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
    margin-top: 6.4rem;
}
.main--benefits p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 2.4rem;
    color: var(--p-grey);
}
.main--benfits-container{
    max-width: 50rem;
    width: 90%;
    height: 15.2rem;
    background-color: #302d2ace;
    margin-top: 1.6rem;    
}
.main--benfits-container img{
    margin-top: 1.4rem;
    margin-left: 1.4rem;
}
.main--benfits-container h3{
    font-size: 1.8rem;
    color: var(--just-white);
    line-height: 1.8rem;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-left: 1.6rem;
}
.main--benfits-container p{
    font-size: 1.4rem;
    color: var(--p-grey);
    line-height: 1.8rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 1.6rem;
    text-align: left;
    max-width: 94%;
}
/* Cómodin, imágen */
.main--bitcoin-img-container{
    width: 100%;
    min-width: 32rem;
    height: 38.7rem;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main--bitcoin-img-container h2{
    font-size: 2.4rem;
    padding-top: 6rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}
/* payment plans */
.main--payment{
    min-width: 32rem;
    height: 54rem;
    background-color: var(--off-white);
}
.main--payment-presentation h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    padding-top: 6.4rem;
    max-width: 90%;
    margin: 0 auto;
}
.main--payment-presentation p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-align: center;
    padding-top: 2.4rem;
    max-width: 90%;
    margin: 0 auto;
}
.plans--payment-card{
    position: relative;
    scroll-snap-align: center;
    width: 19rem;
    height: 24.7rem;
    background-color: var(--just-white);
    margin: 5rem 1rem 0 1rem;
    text-align: center;
    
}
.plans--recommend{
    position: absolute;
    width: 53%;
    height: 3.1rem;
    background-color: var(--bitcoin-orange);
    border-radius: 0.8rem;
    color: white;
    font-size: 1.2rem;
    line-height: 1.45rem;
    padding: 0.8rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    left: 25%;
    top: calc(0% - 1.55rem);
}
.plans--payment-card__box-radius{
    height: 24.7rem;
    width: 19rem;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;

}
.plans--payment-card h3{    
    padding-top: 3.1rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
}
.payment--card-dollar{
    padding: 0.5rem 0;
    font-size: 5.3rem;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 6.3rem;
    letter-spacing: -0.08rem;

}
.payment--card-dollar span{
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    vertical-align: 2.8rem;
    margin-right: 0.2rem;
}
.payment--card-asterisk{
    width: 84%;
    font-family: "Inter";
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #757575;
    padding: 1.1rem 0;
    margin: 0 auto;
}
.plans--payment-card button{
    font-family: "DM Sans";
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    padding: 1.5rem 1.6rem 1.5rem 1.6rem;
    border: 2px solid #F7931A;
    box-sizing: border-box;
    border-radius: 4px;
}
.plans--payment-card--icon{
    display: inline-block;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
}
.plans--payment-options{
    height: 31.6rem;
    display: flex;
    justify-content: space-evenly;
    overflow-x:scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

}
/* footer */
footer{
    display: flex;
    width: 100%;
    height: 15rem;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
footer li{
    font-family: "DM Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
    padding: 0.4rem 0;
    margin-left: 6.5rem;
}
footer a{
    text-decoration: none;
    color: var(--just-white);
}
footer img{
    display: flex;
    align-items: center;
    justify-content: center;
}