main{
    background-color:lightblue;
    width: 100%;
    height: 500px;
}
.text-container{
    font-size: 2em;
}
.font--em{
    font-size: 1.5em;
}
.fontpx{
    font-size: 18px;
}
.fontporc{
    font-size: 90%;
}

