section{
    @include max-width;
}
body{
    @include max-width;
    @include tamanio-letra(40px,blue);
    background-color: gray;
    @include respond-to(700px){
        background-color: lighten(green,50%);
    }
}
%titulos{
    text-align: center;
    margin-top: 5rem;
}
.titles{
    margin-left: 2rem;
    color: darken(red,30%);
}

h2{
    @extend %titulos;
    @extend .titles;
}
