.container{
    display: grid;
    grid-template-rows: repeat(auto-fill, 200px);
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 400px 300px 200px 100px;
}
.c{
    background-color: rgb(162, 204, 159);
    height: 100%;
    width: 100%;
}